*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding:1%;
    width: 80%;
    margin: 0 auto;
}
.menu{
   border-bottom: 1px solid grey; 
}
.text-center{
    text-align: center;
}
.tbl-full{
    width: 100%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.menu{
    text-align: center;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: pink;
}
.menu ul li a:hover{
    color: red;
}
.main-content{
   
    background-color: rgb(224, 220, 220);
    padding: 3% 0;
}
.footer{
    background-color: aqua;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
.clearfix{
    float: none;
    clear: both;
}

.btn-primary{
    background-color: blueviolet;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: aqua;
}

.btn-secondary{
    background-color: rgb(55, 199, 82);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.btn-secondary:hover{
background-color: darkgreen;
}

.btn-danger{
    background-color: rgb(237, 37, 47);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.btn-danger:hover{
background-color: rgb(245, 21, 13);
}
.tbl-30{
    width: 30%;
}

.sucess{
color: rgb(25, 83, 154);
}
.error{
color:red;
}
.login{
    width: 20%;
    border: 1px solid black;
    margin: 5% auto;
    padding:2%;

}